name: Deploy

on:
  workflow_run:
    workflows:
      - Build
    types:
      - completed
    branches:
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build & Deploy
        run: mvn clean install &&
          HEROKU_API_KEY=${{ secrets.HEROKU_API_KEY }}
          mvn clean heroku:deploy
